.app-component_content {
  max-height: 100vh;
  height: -webkit-fill-available;

  .header_content-lang {
    width: max-content;
  }

  &_layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    height: calc(100% - 68.44px);
    
    &-menu {
      width: 200px;
      height: -webkit-fill-available;
    }
    &-view {
      width: 100%;
      height: -webkit-fill-available;
      padding: 20px 0;
      margin: 0 45px;
    }
  }
}