<div class="lateral-menu_container">
  <rob-lateral-menu>
    <rob-lateral-menu-body>
      <a mat-button routerLink="/characters" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ 'character' | translate }}
      </a>
      <a mat-button routerLink="/episodes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ 'episodes' | translate }}
      </a>
      <a mat-button routerLink="/deaths" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ 'deaths' | translate }}
      </a>
    </rob-lateral-menu-body>

    <rob-lateral-menu-footer>
      <a mat-button href="https://github.com/rwtews" target="_blank">
        {{ author }}
      </a>
    </rob-lateral-menu-footer>
  </rob-lateral-menu>
</div>
